/* General Styles */
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 400px;
}


/* -----------Header----------- */
header.primary {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(10px);
}

#navbar{
  position: sticky;
  top: 0;
  overflow: hidden;
}
header.primary img {
  max-height: 50px;
}

header.primary nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: top;
}

header img{
  padding-left: 20px;
  
}

/* -----------Button Styling----------- */
.raise:hover,
.raise:focus {
    box-shadow: 0 8px 8px -6px var(--hover);
    transform: translateY(-4px);
}

.raise {
    --hover: #000000;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: rgb(0, 0, 0);
    transition: 0.25s;
    


    &:hover,
    &:focus { 
    border-color: var(--hover);
    color: #000000;
  }
}

button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav.raise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}
  


/* -----------Section Titles----------- */
h2, h3, h4 {
  color: #333;
  margin-top: 20px;
}

/* -----------FAQ Section----------- */
section#faq-list h4 {
  margin-bottom: 10px;
  color: #000;
}

section#faq-list p {
  margin-bottom: 20px;
}

/* -----------Media Queries for Responsiveness----------- */
@media (max-width: 768px) {
  header.primary nav ul {
    flex-direction: column;
    text-align: center;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: transalteX(-100px)
  }
  to {
    opacity: 1;
    transform: transalteX(0px)
  }
}

#faq-list, #timeline {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.flip-card {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
